article figure img {
  width: 50% !important;
  display: block;
  margin: 0 auto !important;
}

.post-content img {
  /* width: 100% !important; */
  /* height: auto !important; */
  margin: auto auto !important;
}