#certifications ~ table tbody tr td img {
  /* display: inline-block; */
  /* vertical-align: middle;  */
  width: 100px !important;
  /* margin-right: 10px;  */
}

/* #certifications ~ p strong {
  display: inline-block;
  vertical-align: middle;
}

#certifications ~ p {
  align-items: center;
  height: 100px;
} 
*/